.header {
    height: 120px;
    background-color: #DBF4A7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    height: 42px;
    width: 42px;
    background-color: white;
    border-radius: 25px;
    margin-right: 100px;
}

.exit {
    background-color: var(--c-accent-green);
    color: white;
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 20px;
}

.exit:hover {
    background-color: var(--c-accent-green2);
}